[submodule "src/ros-labView"]
	path = src/ros_labview
	url = https://github.com/byteofsoren/MAST-ros-labView.git
[submodule "src/ros-labView-dummy"]
	path = src/ros_labview_dummy
	url = https://github.com/byteofsoren/MAST-ros-labView-dummy.git
